In [2]:
import pandas as pd
import os
import matplotlib as plt

### Merging 12 months data into a single file

In [3]:
# df = pd.read_csv("./data/Sales_April_2019.csv")

files = [file for file in os.listdir('./data') if not file.startswith('.')]

all_MonthsData = pd.DataFrame()

for file in files:
    df = pd.read_csv("./data/" + file)
    all_MonthsData = pd.concat([all_MonthsData, df])
    
all_MonthsData.to_csv("yearlyData.csv", index=False)

In [8]:
df = pd.read_csv("yearlyData.csv")
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001"
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301"
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001"
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101"
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
186845,248146,Bose SoundSport Headphones,1,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
186846,248147,AAA Batteries (4-pack),3,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
186847,248148,AA Batteries (4-pack),1,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101"
186848,248149,USB-C Charging Cable,1,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016"
186849,248150,AA Batteries (4-pack),1,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

### Adding extra columns for visualisation

#### Subtask (1) -> Adding MONTH column